html,
body {
	height: 80%;
	text-align: center;
}

body {
	background-image: url("IMG_20190301_172222.jpg");
	text-align: center;
	background-repeat: no-repeat;
	background-size: 110%;
	background-position: center left;

	padding: 103px;
	border: 10px solid rgb(255, 255, 255);
	border-bottom: 60px;
	border-top: 60px;
}

h1 {
	margin-left: 38%;
	text-align: center;
	background-color: rgba(255, 255, 255, 0);
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	border-radius: 20px;
	width: 300px;
	color: rgb(202, 39, 39);
}

.topnav {
	margin: auto;
	color: rgba(255, 255, 255, 0.973);
	border: 1px solid rgba(255, 255, 255, 0);
	text-align: center;
   font-family: 'Raleway', sans-serif;
   font-size: 20px;
   font-weight: lighter;
}

a {
	color: rgb(255, 2, 2);
	text-decoration: none;
	text-align: initial;
	writing-mode: horizontal;
	text-align: center;
	word-spacing: 10px;
	justify-content: space-between;
	
}

p {
	text-align: center;
}

h2 {
	color: white;
	text-align: center
}

li {
	text-align: center;
	color: rgba(0, 0, 0, 0.788);
	text-emphasis-color: blue;
	border-radius: 25px 25px 25px 25px;
}